@import "./globals.scss";
.form {
    display: flex;
    div {
        border-top: 1px solid $primaryColor;
        height: 41px;
        position: fixed;
        width: 100%;
        bottom: 55px;

        label {
            bottom: 52px;
            position: fixed;
            right: 0;
            z-index: 1;
            height: 41px;
            display: flex;
            align-items: center;
            width: 75px;
            justify-content: center;

            button {
                background-color: transparent;
                padding: 5px 3px;
                border-radius: 5px;
                border: 0;
                color: $primaryColor;
                cursor: pointer;
            }
        }
        input {
            bottom: 55px;
            position: fixed;
            width: calc(100% - 75px);
            background-color: transparent;
            border: 0;

            // height: 20px;
            padding: 10px 5px;
            color: $primaryColor;
            font-family: $mainFont;

            &::placeholder {
                font-family: $mainFont;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
