@import "./globals.scss";
.form {
    display: flex;
    width: 100%;
    background-color: $backgroundColor;
    @media (min-width: $screenTablet) {
        bottom: 0;
    }
    div {
        background-color: $backgroundColor;
        border-top: 1px solid $primaryColor;
        height: 41px;
        position: fixed;
        width: 100%;
        bottom: 50px;

        @media (min-width: $screenTablet) {
            bottom: 0;
        }

        label {
            bottom: 48px;
            position: fixed;
            right: 0;
            z-index: 1;
            height: 41px;
            display: flex;
            align-items: center;
            width: 75px;
            justify-content: center;

            @media (min-width: $screenTablet) {
                bottom: 0;
            }

            button {
                background-color: transparent;
                padding: 5px 3px;
                border-radius: 5px;
                border: 0;
                color: $primaryColor;
                cursor: pointer;
            }
        }
        input {
            bottom: 52px;
            position: fixed;
            width: calc(100% - 75px);
            background-color: transparent;
            border: 0;

            // height: 20px;
            padding: 10px 5px;
            color: $primaryColor;
            font-family: $mainFont;
            @media (min-width: $screenTablet) {
                bottom: 2px;
            }

            &::placeholder {
                font-family: $mainFont;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
