@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$mainFont: "Montserrat", sans-serif;
$backgroundColor: #f5f5f5;
$primaryColor: #171717;
$secondaryColor: #1a5e63;
$terciaryColor: #50c9ce;

$screenMobileS: 320px;
$screenMobileM: 375px;
$screenMobileL: 425px;
$screenTablet: 768px;
$screenLaptop: 1024px;
$screenDesktop: 1440px;
$minSize: 300px;
