@import "../globals.scss";
.button {
    height: 55px;
    width: 100%;
    max-width: 290px;
    border: 0;
    padding: 10px 0;
    border-radius: 12px;
    font-weight: bold;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: $primaryColor;
    color: white;
    font-family: $mainFont;

    &:hover {
        transform: translateY(-5px);
    }
}
