@import "../globals.scss";
.inputGroup {
    margin-bottom: 20px;
    position: relative;
    font-family: $mainFont;

    .input {
        width: 100%;
        height: 30px;
        border: 1px solid $primaryColor;
        border-radius: 3px;
        padding: 0 10px;
        background-color: transparent;
        color: $primaryColor;

        &:focus {
            outline: none;
            border: 1px solid $primaryColor;
        }

        option {
            color: $primaryColor;
        }
    }
}
