.cognate {
    background: yellow !important;
}

.falseCognate {
    background: green !important;
    color: white;
}

.typographicEvidence {
    background: pink !important;
}
.scanning {
    background: plum !important;
}
.skimming {
    background: orange !important;
}

.background {
    background: silver !important;
}
