@import "../globals.scss";

.main {
    display: flex;

    align-items: center;
    // padding: 100px 1.5rem;
    min-height: 100vh;

    @media (min-width: $screenTablet) {
        overflow-y: hidden;
    }

    .backgroundImage {
        flex: 1;
        max-width: 50vw;
        height: 100vh;
        left: 0;
        top: 0;
        position: relative;

        @media (max-width: $screenTablet) {
            display: none;
            width: 0;
        }

        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .leftPartContent {
            background-color: rgba(0, 0, 0, 0.726);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            color: $backgroundColor;
            font-family: $secondaryFont;

            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $backgroundColor;
                gap: 15px;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;

                    .eap {
                        font-size: 52px;
                    }
                }
            }
            span {
                font-size: 28px;
                text-align: center;
                max-width: 350px;
            }
        }
    }
}
